.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
}

.avatars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-left: 40px;
  column-gap: 40px;
  row-gap: 40px;
}
